
<div class="container">

    <div class="row border p-2">
        <div class="col-12">
            <p [ngClass]="{textColor: title1}">{{title1}}</p>
            <form action="#">
                <label for="name" class="form-label">CustomerName</label>
                <input type="text" id="name" name="name" class="form-control" [(ngModel)]="name">

                <label for="name" class="form-label mt-2">CustomerAddress</label>
                <input type="text" id="title" name="title" class="form-control" [(ngModel)]="title">
            </form>
            <div class="mt-2">
                <button class="btn btn-primary mx-1" (click)="NameTitleShow()">Add Name and Address</button>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of items">
                    <h4 class="list-group-item-heading" *ngIf="fname" [ngStyle]="{color: 'red'}">{{item.Fname}}</h4>
                    <p class="list-group-item-text" *ngIf="ftitle" [ngClass]="{textColor1: title}">{{item.Title}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>