<div class="container">
    <div class="row my-2">
        <div class="col-12">
            <form action="#">
                <div class="row">
                    <div class="col-3 form-group">
                        <label for="#" class="form-label">Keyboard Name</label>
                        <input type="text" name="name" id="name" class="form-control" #name>
                    </div>
                    <div class="col-3 form-group">
                        <label for="#" class="form-label">Keyboard Amount</label>
                        <input type="number" name="number" id="number" class="form-control" #amount>
                    </div>
                </div>
            </form>
            <button class="btn btn-success m-2" (click)="AddKeyboard()">Add</button>
            <button class="btn btn-danger m-2">Delete</button>
            <button class="btn btn-primary m-2">Clear</button>


        </div>
    </div>
   
</div>