<app-header (someNameCalledLaptop)="OnNavigate($event)"></app-header>
<app-laptop *ngIf="laptopName === 'laptop'"></app-laptop>
<app-keyboard *ngIf="laptopName !== 'laptop'"></app-keyboard>
<app-forms></app-forms>
<app-parent></app-parent>
<app-pratise></app-pratise>
<app-service-pratise></app-service-pratise>
<app-main-router></app-main-router>
<div class="container my-3">
    <div class="content bg-dark text-center py-4">
        <h5 class="text-light">NgRx Introduction</h5>
        <h5 class="text-light">{{ count$ | async }}</h5>
        <button class="btn btn-success" (click)="increment()" >Increment</button> &nbsp;
        <button class="btn btn-danger" (click)="decrement()" >Decrement</button>
    </div>
</div>