<a href="#" class="text-decoration-none" (click)="OnSelectItem()">
    <div class="row border my-2 ">
        <div class="col-9 text-start">
            <h6 [ngClass]="{textColor: '{{laptopItems.name}}'}">{{laptopItems.name}}</h6>
            <p [ngClass]="{textColor1: '{{laptopItems.description}}'}">{{laptopItems.description}}</p>
            <p [ngClass]="{textColor2: '{{laptopItems.laptopID}}'}">LAPTOP-ID: {{laptopItems.laptopID}}</p>
        </div>
        <div class="col-3">
            <a href="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/mbp-spacegray-select-202206?wid=452&hei=420&fmt=jpeg&qlt=95&.v=1664497359481"
                target="_blank" rel="noopener noreferrer">
                <img [src]="laptopItems.imagePath" class="img-fluid" style="width: 150px;">
            </a>
        </div>
    </div>
</a>